
@font-face {
    font-family: 'RobotoMono';
    src: url('../../../public/RobotoMono-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}   

@font-face {
    font-family: 'Ubuntu';
    src: url('../../../public/Ubuntu-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
